<header
  class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <img
    class="rounded-full size-14"
    src="https://media.licdn.com/dms/image/C4E03AQHQ_KtfIwGMcQ/profile-displayphoto-shrink_200_200/0/1625670812373?e=2147483647&v=beta&t=p_hzGGRIoA3yeKpNkizSgLoeRD4iXylsHkqzPu8T6dA"
    alt="Agustin foto"
  />
  <nav class="flex flex-row gap-x-10 opacity-80 text-l">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
